# Data Manipulation and Analysis
pandas==2.0.3
numpy==1.25.2

# Visualization
matplotlib==3.7.2
seaborn==0.12.2
plotly==5.17.0

# Streamlit for Web App
streamlit==1.26.0

# Machine Learning Models
scikit-learn==1.3.0
lightgbm==4.1.0

# Metrics, Preprocessing, Clustering, and Dimensionality Reduction
scikit-learn==1.3.0

# Statistical Tests
scipy==1.11.2

# Deep Learning Models

keras==2.14.0

# Serialization
joblib==1.4.0

# Finance Data
yfinance==0.2.31
tensorflow==2.12.0  # or another compatible version

setuptools  # Add this line if you need to install distutils
